.title-row {
  .title-col {
    text-align: center;
  }
}



.input-row {
  margin-bottom: 15px;
  margin-left: 21%;

  .input-name {
    margin-left: 3%;
  }

  .input-max, .input-username {
    margin-left: 6%;
  }
}

h3 {
  text-align: center;
}

ul {
  list-style: none;
  margin-left: 38%;
}

.button-row {
  text-align: center;
}
