$light-gray:	#717171;

$primary: (
  50 : #e1efe8,
  100 : #b3d6c6,
  200 : #80bba0,
  300 : #4da07a,
  400 : #278b5e,
  500 : #017741,
  600 : #016f3b,
  700 : #016432,
  800 : #015a2a,
  900 : #00471c,
  A100 : #7bffa2,
  A200 : #48ff7d,
  A400 : #15ff59,
  A700 : #00fb49,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$secondary: #64B04B;

$warn: (
  50 : #fcfbeb,
  100 : #f8f5ce,
  200 : #f4eeae,
  300 : #efe78d,
  400 : #ebe274,
  500 : #e8dd5c,
  600 : #e5d954,
  700 : #e2d44a,
  800 : #decf41,
  900 : #d8c730,
  A100 : #ffffff,
  A200 : #fffde9,
  A400 : #fff7b6,
  A700 : #fff49c,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$danger: (
  50 : #fbe6e6,
  100 : #f5c1c1,
  200 : #ef9898,
  300 : #e86f6e,
  400 : #e3504f,
  500 : #de3130,
  600 : #da2c2b,
  700 : #d52524,
  800 : #d11f1e,
  900 : #c81313,
  A100 : #fff8f8,
  A200 : #ffc5c5,
  A400 : #ff9292,
  A700 : #ff7979,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);