<div class="main-content">
  <div class="container-fluid">
    <div class="row top-row">
      <div class="player-col col-xl-6" *ngFor="let player of players">
        <app-player [player]="player">
        </app-player>
      </div>
    </div>
    
    <div class="row middle-row">

      <div class="table-col offset-xl-4 col-xl-4">
        <app-deck [hidden]="!showTable && !startGame"></app-deck>
        <app-login *ngIf="!showTable && !startGame"></app-login>
        <button mat-raised-button (click)="start()" *ngIf="!showTable && !startGame && isAdmin">Start Game</button>
      </div>

    </div>
    <div class="row lower-row">
      <div class="player-col col-xl-6">

      </div>
    </div>

    <div class="row hand-row">
      <div class="offset-xl-4 col-xl-4" *ngIf="showTable" [hidden]="!startGame">
        <app-hand></app-hand>
      </div>
    </div>
  </div>
</div>